@import "~bootstrap/scss/bootstrap";

fbody {
  background-color: #999999;
}

.disabled {
  color: lightGrey;
}

:hover.selected {
  fill: white;
  stroke-width: 1px;
}

.selected {
  stroke-width: 4px;
}

.current {
  font-weight: bold;
}

.owner_0 {
  fill: red;
  background-color: red;
}

.owner_1 {
  fill: blue;
  background-color: blue;
}

.owner_2 {
  fill: green;
  background-color: green;
}

.owner_3 {
  fill: yellow;
  background-color: yellow;
}

.owner_4 {
  fill: black;
  background-color: black;
}

.owner_5 {
  fill: brown;
  background-color: brown;
}

.country:hover {
  stroke-width: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
